{{- if .Values.externalService.enabled }}
{{- $fullName := include "vsl-sequencer.fullname" . }}
{{- $replicaCount := .Values.sequencer.replicaCount | int }}
{{- $root := . }}

{{- range $i, $e := until $replicaCount }}
{{- $targetPod := printf "%s-%d" (printf "%s" $fullName) $i }}
{{- $_ := set $ "targetPod" $targetPod }}
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-%d-external" (include "vsl-sequencer.fullname" $) $i | trunc 63 | trimSuffix "-" }}
  namespace: {{ $root.Release.Namespace | quote }}
  labels:
    pod: {{ $targetPod }}
    {{- include "vsl-sequencer.labels" $root | nindent 4 }}
  {{- with $root.Values.externalService.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $root.Values.externalService.annotations }}
  annotations:
    {{- toYaml $root | nindent 4 }}
  {{- end }}

spec:
  type: {{ $root.Values.externalService.type }}
  publishNotReadyAddresses: {{ $root.Values.externalService.publishNotReadyAddresses }}
  ports:
    - protocol: TCP
      port: {{ $root.Values.sequencer.node.ports.p2p.port }}
      targetPort: {{ $root.Values.sequencer.node.ports.p2p.port }}
      name: p2p
  selector:
    {{- include "vsl-sequencer.selectorLabels" $root | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ $targetPod }}
---
{{- end }}
{{- end }}