apiVersion: v1
kind: Secret
metadata:  
  name: {{ template "vsl-chain.batcher.fullname" .}}
  annotations:
    avp.kubernetes.io/path: "kv/data/network/chain"
stringData:
  OP_BATCHER_L1_ETH_RPC: "<L1_ETH_RPC>"
  OP_BATCHER_L2_ETH_RPC: {{ (include "vsl-chain.geth.fullname" .) | printf "\"http://%s-write:8545\"" }}
  OP_BATCHER_ROLLUP_RPC: {{ (include "vsl-chain.geth.fullname" .) | printf "\"http://%s-write:9545\"" }}
  OP_BATCHER_MAX_CHANNEL_DURATION: "50"
  OP_BATCHER_NUM_CONFIRMATIONS: "10"
  OP_BATCHER_PPROF_ENABLED: "true"
  OP_BATCHER_PPROF_PORT: "6062"
  OP_BATCHER_METRICS_ENABLED: "true"
  OP_BATCHER_METRICS_PORT: "7302"
  OP_BATCHER_LOG_LEVEL: "debug"
  OP_BATCHER_RPC_ENABLE_ADMIN: "true"
  OP_BATCHER_RPC_PORT: "6545"
  OP_BATCHER_SIGNER_ENDPOINT: "<OP_BATCHER_SIGNER_ENDPOINT>"
  OP_BATCHER_SIGNER_ADDRESS: "<OP_BATCHER_SIGNER_ADDRESS>"
  OP_BATCHER_SIGNER_TLS_CA: ""
  OP_BATCHER_SIGNER_TLS_CERT: ""
  OP_BATCHER_SIGNER_TLS_KEY: ""