apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "node.fullname" . }}
  labels:
    {{- include "node.labels" (dict "context" . ) | nindent 4 }}
  {{- if .Values.configs.annotations }}
  annotations:
  {{- range $key, $value := .Values.configs.annotations }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
data:
  config.yaml: |
    environment: {{ .Values.configs.environment }}
    discovery:
    {{- toYaml .Values.configs.discovery | nindent 6}}
    component:
      rss:
    {{- toYaml .Values.additionalRSS | nindent 8}}
    {{- if .Values.workers }}
      decentralized:
      {{- range $_, $worker := .Values.workers }}
        - network: {{ $worker.network }}
          worker: {{ $worker.worker }}
          endpoint: {{ $worker.endpoint }}
          id: {{ $worker.id }}
          parameters:
        {{- toYaml $worker.parameters | nindent 12 }}
      {{- end }}
    {{- else }}
      decentralized: []
    {{- end }}
    database:
    {{- toYaml .Values.database | nindent 6 }}
    redis:
    {{- if .Values.redis.enabled }}
      endpoint: {{ include "node.redis.fullname" . }}:{{ .Values.redis.servicePort }}
    {{- else }}
    {{- toYaml .Values.externalRedis | nindent 6 }}
    {{- end}}
    stream:
    {{- toYaml .Values.stream | nindent 6 }}
    observability:
    {{- toYaml .Values.observability | nindent 6}}
    endpoints:
    {{- toYaml .Values.endpoints | nindent 6 }}
